.Login {
  display: flex;
  flex-direction: row; 
  align-items: center;
  position: relative;
  right: -20px;
}
.Profile {
  position: absolute;
  right: 20px;
  bottom: -50px;
  padding: 10px;
}
.Profile:after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  top: -5px;
  right: 10px;
  transform: rotate(45deg);
  background-color: white;
}
.username {
  margin: 0 10px;
}
.inverted-palette {
  color: white !important;
}